.col-empty, .col:empty, [class^=col-]:empty { display: none; }

/* Layout */
@media only screen and (min-width : 1200px) {
  .ctc-home-container { max-width: 1250px; }
}

.ctc-main {
  margin-top: 2.2rem;
  margin-bottom: 3rem;
  min-height: 66vh;
}

.ctc-col {
}

.ctc-wrapper-col {
  max-width: 1200px;
}

.ctc-left-menu {
  margin: 2rem 1rem;
}

/* Masthead */
.masthead {
  background-color: var(--masthead);
  position: relative;
  color: white;
}

.gap {
  width: 100%;
  height: 190px;
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
}

.gap-mask {
  -webkit-mask-image: url(../images/GapMaskInverted.png);
  mask-image: url(../images/GapMaskInverted.png);
  -webkit-mask-size: 80%;
  mask-size: 80%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center top;
  mask-position: center top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.gap-sky {
  background: #F1F2EB;
  width: 100%;
  height: 150px;
  /* https://cssgradient.io/ */
  background: linear-gradient(0deg, rgba(244,213,89,1) 10%, rgba(164,50,75,1) 44%, rgba(22,65,143,1) 100%);
}

.ctc-brand {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 1.2;
  color: white;
  position: absolute;
  left: 1%;
  bottom: 25px;
  text-align: left;
  font-variant: petite-caps;
  display: flex;
  align-items: center;
}

.ctc-brand img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.ctc-brand span {
  display: block;
}

.ctc-logo {
    position: absolute;
    left: -11%;
    bottom: 11px;
}

.ctc-logo img{
  width: 75px;
}

/* User menu */
.usermenu {
  position: absolute;
  top: 25px;
  right: 5px;
  color: #F1F2EB;
  font-size: 0.9rem;
}

.login-button {
  display: block;
  border: 1px #F1F2EB solid;
  border-radius: 5px;
  padding: 6px 10px;
  color: var(--on-dark);
}

a.login-button:hover, 
a.login-button:visited, 
a.login-button:active,
a.login-button:focus
{
  color: var(--on-dark);
}

/* General */

/* Navigation */
.ctc-navbar {
  background-color: var(--navbar-green)
}

.ctc-navbar-menu {
  margin-top: auto;
  margin-bottom: 1px;
}

.ctc-navbar .ctc-nav-link {
  color: rgb(255, 255, 255, 0.8)!important;
  margin-right: 0.5rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.navbar>.ctc-header {
  align-items: stretch;
}

.ctc-button, .ctc-button:link, .ctc-button:visited, .ctc-button:active {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    color: var(--on-dark);
}

.ctc-button:hover {
  background-color: white;
  background-color: var(--dark-green-hover);
}

.ctc-button-outline, .ctc-button-outline:link, .ctc-button-outline:visited, .ctc-button-outline:active {
    border-color: var(--dark-green);
    background-color: var(--on-dark);
    color: var(--dark-green)
}

.ctc-button-outline:hover {
  background-color: var(--dark-green-hover);
  color: var(--on-dark);

}


.ctc-dropdown-item:hover {
  background-color: var(--dark-green-hover);
}


/* Home Welcome */
.home-h1 {
  text-align: left;
}

.home-h1 img {
  height: 7rem;
  margin-right: 2rem;
}

.home-welcome {
  padding: 0 1rem 1rem 1rem;
  border-radius: 0.5rem;
  /*background: #e8e9e880;*/
  margin-bottom: 1rem;
  font-size: 1.1rem
}

.home-welcome ul {
    list-style-type: none;
    line-height: 160%;
}

.home-welcome ul li::before {
  content: "\f105";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding: 0 10px 0 0;
}

.col-shortcuts {
  padding: 5px 0 5px 10px;
}

.home-btn, .home-btn:link, .home-btn:visited, home-btn:active {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background: white;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0.6rem 1rem 0.6rem 3rem;
}

.home-btn:hover {
  background-color: var(--dark-green);
  color: white;
}

.home-btn:hover .home-btn-icon {
  color: white;
}
.home-btn:focus {
  box-shadow: 0 0 0 0.2rem var(--dark-green-fade)!important;
}

.home-btn-icon {
  font-size: 1rem;
  margin-right: 1rem;
  color: var(--dark);
}

/* Calendar */

@media (min-width: 992px) {
  .calendar {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media (min-width: 1200px) {
  .calendar {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
}

.calendar-month
{
  font-size: 1.4rem;
  border-radius: 0px;
  text-align: left;
  border-bottom: 1px  solid;
  padding-left: 10px;
  padding-bottom: 4px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--dark);
}

.event
{
  padding: 15px 0 5px 0;
  font-size: 0.9rem;
  margin-bottom: 9px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background: var(--background-higher);
}

a.event
{
  color: var(--black);
}

.event-title
{
  font-size: 1rem;
  padding-top: 3px;
  font-weight: 700;
  color: var(--dark);
}

.event-day
{
  font-size: 1.1rem;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 0px;
  color: var(--dark);
}

.event-date
{
  font-size: 1.3rem;
  min-width: 2em;
  font-weight: 500;
  width: 100%;
  background-color: #919293;
}

.more-events
{
  text-align: right;
  margin-right: 4px;
}

/* .more-events
{
  position: absolute;
  right: 0px;
  bottom: 4px;
} */

.calendar-header-link
{
  text-decoration: none!important;
}

.calendar-header
{
  position: relative;
  text-decoration: none!important;
  padding-top: 25px;
}

.calendar-header:hover .more-events
{
  text-decoration: underline;
}


/* Trip reports */
.trip-report
{
  line-height: 1.5;
  font-size: 0.95rem;
}

a.trip-report:link, a.trip-report:visited, a.trip-report:hover
{
  color: inherit;
  text-decoration: none;
}

a.trip-report:hover .trip-report-title
{
  text-decoration: underline;
}

/* Footer */
.footer-container
{
  width: 100%;
  background-color: #272d27;
  color: var(--on-dark);

  font-size: 1rem;
}

.footer-container a,
.footer-container a:hover, 
.footer-container a:visited, 
.footer-container a:active,
.footer-container a:focus
{
  color: var(--on-dark);
}

.footer
{
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.legal
{
  font-size: 0.8rem;
  line-height: 0.1;
}

/* Login Form */
.ctc-button-dark {
  /* background-color: #0a2239; */
  /* border-color: #0a2239; */
  border-color: #394648;
  background-color: #394648;
  padding: 0px 12px;
  max-width: 6em;
  height: 1.5rem;
  align-items: unset;
  text-align: start;
  /* vertical-align: middle; */
  display: block;
 }

.ctc-login-help {

  padding-top: 2px;
  padding-left: 2px;
  font-size: 0.9rem;
  color: rgba(255,255,255,.5)
}

.ctc-login-control {
  /*height: 1.6em;*/
  max-width: 10em;
  padding: 0px 12px;
  height: 1.5em;
}

.ctc-form-group {
  margin-bottom: 0px;
  padding: 0em 0.5em;
  margin-top: auto;
  margin-bottom: auto;
}

/* ??? Misc */
.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #fff;
  margin-top: 7px;
  vertical-align: middle;
}

.float-end {
  float: right;
}

.ctc-bar {
    height: 3px;
    background-color: #b56f00;
    width: 100%;
}


/* i-Frame wrapper */
.iframewrapper {
    border-style: none;
}

iframe,
svg {
	max-width: 100%;
}

/* Social media links on home page*/
#socials p {
  display: flex;
  align-items: center;
}

#socials a
{
  color: var(--black);
  text-decoration: none;
  border: none;
}

#socials a:hover
{
  text-decoration: underline;
}

/* Joomla Components */
.com-content-article a,
.com-content-article a:hover,
.com-content-article a:visited,
.com-content-article a:active {
  text-decoration: none;
  border-bottom: 1px solid var(--dark-green);
  color: var(--dark-green)
}

.com-users-login {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.com-users-remind,
.com-users-reset-confirm,
.com-users-reset {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.com-users-login__submit,
.com-users-remind__submit,
.com-users-reset-confirm__submit,
.com-users-reset__submit {
  padding-top: 10px;
  padding-bottom: 5px;
}

.control-group,
.btn-group {
  padding-top: 5px;
  padding-bottom: 10px;
}

.com-contact__form button,
.com-users-login__submit button,
.com-users-remind__submit button,
.com-users-reset-confirm__submit button,
.com-users-reset__submit button {
  background-color: var(--navbar-green);
  border-color: var(--navbar-green);
}

.com-contact__form button:active,
.com-users-login__submit button:active,
.com-users-remind button:active,
.com-users-reset-confirm button:active,
.com-users-reset__submit button:active {
  background-color: #037126!important;
  border-color: var(--navbar-green)!important;
}

.com-contact__form button:hover,
.com-users-login__submit button:hover,
.com-users-remind button:hover,
.com-users-reset-confirm button:hover,
.com-users-reset__submit button:hover {
  background-color: #037126;
  border-color: var(--navbar-green);
}

.com-contact__form button:focus,
.com-users-login__submit button:focus,
.com-users-remind button:focus,
.com-users-reset-confirm button:focus,
.com-users-reset__submit button:focus {
  box-shadow: 0 0 0 0.2rem var(--dark-green-fade)!important;
}

.com-users-login__remind,
.com-users-login__reset  {
  border: 0;
  padding: 3px;
  color: var(--dark-green);
  font-size: 1rem;
  background: var(--background);
}

.com-users-login__options {
}

.com-users-reset legend,
.com-users-remind legend,
.com-users-reset-confirm legend {
  font-size: 1.1rem;
}

.visually-hidden {
  display: none;
}

.contact-form legend
{
  font-size: 1rem;
  margin-bottom: 3px;
}

.com-contact__container {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.com-contact__container dl {
  margin-bottom: 3px;
}

.com-contact__container dt {
  display: inline;
}

.com-contact__container dd {
  display: inline;
}

.contact-category {
  display: none;
}

.field-spacer {
  padding-top: 1px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  color: #5e3c3c;
}

.com-content-article__body img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1rem;
}

/* Document management */
.ctcdocs-button {
  border: 0;
  color: var(--dark-green);
}

.ctcdocs-button:hover {
  border-radius: 2px;
  color: var(--on-dark);
  background: var(--dark-green-hover);
}

.ctcdocs-button-file {
  font-size: 0.9rem;
  margin: 2px;
  background: inherit;
}

.ctcdocs-button-folder {
  font-size: 1.5rem;
  background: inherit;
}

.ctcdocs-button-new {
  margin: 2px;
  padding: 4px 8px;
  background: var(--on-dark);
  border: 1px solid var(--dark-green-hover);
}