/* Definitions */
:root {
  --dark-green: #00591d;
  --dark-green-hover: #176831;
  --navbar-green: #02501b;
  --pale: #e8e9e8;
  /* --pale: #E9EDE9; */
  /* --pale: #E7EFEA; */
  --masthead: #272d27;
  --orange: #E05A00;
}

/* Global */

html {
  position: relative;
  min-height: 100%;
}

a, a:hover, a:visited, a:active {
  color: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    margin-bottom: 100px;
}

h1, h2, h3, h4 {
  font-family:  'Lato', sans-serif;
}

h1 {
  color: var(--dark-green) ;
  border-bottom: 3px solid #E0A800;
  margin-bottom: 2rem;
  padding-bottom: 0.7rem;
}

/* Layout */
@media only screen and (min-width : 1200px) {
  .ctc-home-container { max-width: 1250px; }
}

.ctc-main {
  margin: 2rem 1rem;
}

/* Masthead */
.masthead {
  background-color: var(--masthead);
  position: relative;
  color: white;
}

.gap {
  width: 100%;
  height: 190px;
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
}

.gap-mask {
  -webkit-mask-image: url(../images/GapMaskInverted.png);
  mask-image: url(../images/GapMaskInverted.png);
  -webkit-mask-size: 80%;
  mask-size: 80%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center top;
  mask-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.gap-sky {
  background: #F1F2EB;
  width: 100%;
  height: 150px;
  /* https://cssgradient.io/ */
  background: linear-gradient(0deg, rgba(244,213,89,1) 10%, rgba(164,50,75,1) 44%, rgba(22,65,143,1) 100%);
}

.ctc-brand {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 1.2;
  color: white;
  position: absolute;
  left: 1%;
  bottom: 25px;
  text-align: left;
  font-variant: petite-caps;
  display: flex;
  align-items: center;
}

.ctc-brand img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.ctc-brand span {
  display: block;
}

.ctc-logo {
    position: absolute;
    left: -11%;
    bottom: 11px;
}

.ctc-logo img{
  width: 75px;
}

/* User menu */
.usermenu {
  position: absolute;
  top: 25px;
  right: 5px;
  color: #F1F2EB;
  font-size: 0.9rem;
}

.login-button {
  display: block;
  border: 1px #F1F2EB solid;
  border-radius: 5px;
  padding: 5px;
}

/* General */
.ctc-important {
  background-color: var(--orange);
  border-radius: 7px;
  color: #f7f7f7;
  padding: 10px;
  font-weight:500;
  font-size: 1.1rem;
  text-align: center;
  border: #C0DDE7 1px solid;
  width: 100%;
}

.ctc-important:hover {
  background-color: #D76F47;
}

/* Navigation */
.ctc-navbar {
  background-color: var(--navbar-green)
}

.ctc-navbar-menu {
  margin-top: auto;
  margin-bottom: 1px;
}

.ctc-navbar .ctc-nav-link {
  color: rgb(255, 255, 255, 0.8)!important;
  margin-right: 0.5rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.navbar>.ctc-header {
  align-items: stretch;
}

.ctc-button, .ctc-button:link, .ctc-button:visited, .ctc-button:active {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    color: #f7f7f7;
}

.ctc-button:hover {
  background-color: white;
  background-color: var(--dark-green-hover);
}

.ctc-button-outline, .ctc-button-outline:link, .ctc-button-outline:visited, .ctc-button-outline:active {
    border-color: var(--dark-green);
    background-color: #f7f7f7;
    color: var(--dark-green)
}

.ctc-button-outline:hover {
  background-color: var(--dark-green-hover);
  color: #f7f7f7;
}


.ctc-dropdown-item:hover {
  background-color: var(--dark-green-hover);
}


/* Home Welcome */
.home-h1 {
  font-size: 2.2rem;
}

.home-welcome {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  /*background: #e8e9e880;*/
  margin-bottom: 1rem;
  font-size: 1.1rem
}

.home-welcome ul {
    list-style-type: none;
    line-height: 160%;
}

.home-welcome ul li::before {
  content: "\f105";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding: 0 10px 0 0;
}

.home-btn {
  width: 14rem;
  height: 6.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.home-btn-icon {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Calendar */
.row-striped:nth-of-type(odd){
  /* background-color: #ECEBEA; */
  background-color: var(--pale);
  border-left: 4px var(--dark-green) solid;
}

.row-striped:nth-of-type(even){
  background-color: #FAFBF8;
  border-left: 4px #d0d6b3 solid;
}

.row-striped {
    padding: 10px 0;
}

.calendar-month
{
  font-size: 1.4rem;
  border-radius: 0px;
  text-align: left;
  border-bottom: 1px  solid;
  padding-left: 10px;
  padding-bottom: 4px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.event
{
  margin-left: 0px;
  font-size: 0.9rem;
}

.event-title
{
  font-size: 1rem;
  padding-top: 3px;
  font-weight: 700;
}

.event-day
{
  font-size: 1.4rem;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 0px;
}

.event-date
{
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}

.more-events
{
  position: absolute;
  right: 0px;
  bottom: 4px;
}

.calendar-header-link
{
  text-decoration: none!important;
}

.calendar-header
{
  position: relative;
  text-decoration: none!important;
}

.calendar-header:hover .more-events
{
  text-decoration: underline;
}


/* Trip reports */
.trip-report
{
  line-height: 1.5;
  font-size: 0.95rem;
}

a.trip-report:link, a.trip-report:visited, a.trip-report:hover
{
  color: inherit;
  text-decoration: none;
}

a.trip-report:hover .trip-report-title
{
  text-decoration: underline;
}

/* Footer */
.footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #272d27;
  color: #f7f7f7f7;
}

.legal
{
  font-size: 0.8rem;
  line-height: 0.1;
}

/* Login Form */
.ctc-button-dark {
  /* background-color: #0a2239; */
  /* border-color: #0a2239; */
  border-color: #394648;
  background-color: #394648;
  padding: 0px 12px;
  max-width: 6em;
  height: 1.5rem;
  align-items: unset;
  text-align: start;
  /* vertical-align: middle; */
  display: block;
 }

.ctc-login-help {

  padding-top: 2px;
  padding-left: 2px;
  font-size: 0.9rem;
  color: rgba(255,255,255,.5)
}

.ctc-login-control {
  /*height: 1.6em;*/
  max-width: 10em;
  padding: 0px 12px;
  height: 1.5em;
}

.ctc-form-group {
  margin-bottom: 0px;
  padding: 0em 0.5em;
  margin-top: auto;
  margin-bottom: auto;
}

/* ??? Misc */
.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #fff;
  margin-top: 7px;
  vertical-align: middle;
}

.float-end {
  float: right;
}

.ctc-bar {
    height: 3px;
    background-color: #b56f00;
    width: 100%;
}


/* i-Frame wrappe */
.iframewrapper {
    border-style: none;
}

iframe,
svg {
	max-width: 100%;
}


/* Joomla Components */
.com-users-login {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.com-users-remind,
.com-users-reset-confirm,
.com-users-reset {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.com-users-login__submit,
.com-users-remind__submit,
.com-users-reset-confirm__submit,
.com-users-reset__submit {
  padding-top: 10px;
  padding-bottom: 5px;
}

.control-group,
.btn-group {
  padding-top: 5px;
  padding-bottom: 10px;
}

.com-contact__form button,
.com-users-login__submit button,
.com-users-remind__submit button,
.com-users-reset-confirm__submit button,
.com-users-reset__submit button {
  background-color: #var(--navbar-green);
  border-color: #var(--navbar-green);
}

.com-contact__form button:hover,
.com-users-login__submit button:hover,
.com-users-remind button:hover,
.com-users-reset-confirm button:hover,
.com-users-reset__submit button:hover {
  background-color: #037126;
  border-color: #var(--navbar-green);
}

.com-users-login__remind,
.com-users-login__reset  {
  border: 0;
  padding: 3px;
  color: #0969da;
  font-size: 1rem;
}

.com-users-reset legend,
.com-users-remind legend,
.com-users-reset-confirm legend {
  font-size: 1.1rem;
}

.visually-hidden {
  display: none;
}

.contact-form legend
{
  font-size: 1rem;
  margin-bottom: 3px;
}

.com-contact__container {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.com-contact__container dl {
  margin-bottom: 3px;
}

.com-contact__container dt {
  display: inline;
}

.com-contact__container dd {
  display: inline;
}

.contact-category {
  display: none;
}

.field-spacer {
  padding-top: 1px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  color: #5e3c3c;
}

.com-content-article__body img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1rem;
}